/* user detail container  */
.user_container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 9%;
}
.user_container a:hover{
  text-decoration: none;
}
/* user icon styles  */
.user_icon svg {
  font-size: 60px;
  color: #3b455a;
}
/* user icon and name container  */
.user_icon {
  display: flex;
  flex-direction: column;
}
/* padding for user name  */
.user_icon p {
  padding-left: 12px;
}

/* profile container for user and question  */
.profile_container {
  display: flex;
  justify-content: space-between;
  margin-right: 16%;
}
/* chevron icon size  */
.angle_icon svg {
  font-size: 40px;
}
/* style for horizontal lines  */
.horizontal_line {
  margin-right: 12%;
  margin-left: 10%;
}
/* styles for question text  */
.question {
  margin-top: 35px;
  padding-right: 40%;
}
.link {
  text-decoration: none;
  color: #24334b;
}
