/* .signUp { */
/* width: 40%; */
/* height: auto; */
/* border: 2px solid orange; */
/* padding: 3rem 1rem; */
/* } */

.signUp__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.signUp--title {
  font-weight: 600;
}
.signUp--subtitle {
  font-size: 14px;
}

.signUp--subtitle a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
.signUp--subtitle a:hover {
  color: var(--primary-btn-color);
}

.signUp__form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  margin-top: 36px;
}
.signUp__form input {
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.signUp__form input:focus {
  border-bottom: 2px solid var(--primary-color);
}
.signUp__form input:valid {
  background-color: var(--input-filed-bg-color);
}

.signUp__form-names {
  display: flex;
  gap: 20px;
}

.signUp__form-names input,
.signUp__form-password input {
  width: 100%;
}

.signUp__form-password {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: end;
}
.signUp__form input[type="password"] {
  position: relative;
}

.signUp__form-icon {
  position: absolute;
  margin-right: 10px;
}
.signUp__form-icon svg {
  display: flex;
  width: 18px;
  height: auto;
}

.signUp small {
  font-size: 12px;

  text-align: center;
  margin: 8px 0;
}

.signUp small a {
  color: var(--primary-color);
  /* padding-left: 5px; */
}

.signUp small a:hover {
  font-weight: 400;
  color: var(--primary-button);
}

.signUp__btn {
  border: none;
  background-color: #516cf1;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.signUp__btn:hover {
  background-color: var(--primary-button);
}
.signUp__bottom_text a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.signUp__bottom_text a:hover {
  color: var(--primary-btn-color);
}
