/* * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

.signUp {
  border-radius: 8px;
  border: solid 1px lightgray;
  width: 40%;
  padding: 60px;
  margin-top: 5%;
  margin-left: 15%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px lightgray;
}

.accountTitle h1 {
  font-weight: 700;

  font-family: sans-serif;
  color: rgb(52, 71, 103);
}

form {
  padding: 20px;
  display: block;
}

.bigInput input {
  width: 100%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  margin-right: 10px;
}

.smallInput {
  display: flex;
  width: 100%;
  gap: 8px;
  padding-left: 10px;
}

.smallInput input::placeholder {
  padding: 10px;
}

.smallInput input {
  padding: 15px 21px;
  width: 100%;
}

input {
  border-radius: 8px;
  border: solid 2px lightgray;
  font-size: 20px;
  background-color: white;
}

.btn button {
  background-color: var(--primary-button);
  width: 100%;
  padding: 15px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h4 {
  margin: 10px;
  color: var(--text-color);
}
h3 {
  color: var(--text-color);
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.eye {
  position: absolute;
  margin-top: -55px;
  font-size: 20px;
  border: none;
  width: 70px;
  background-color: #e8f0fe;
  padding-left: 12%;
}
