/* main container for the home page  */
.home_container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* container for button and user greeting  */
.btn_container {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
/* link styles in button container  */
.btn_container a {
  padding: 7px;
  margin-left: 10%;
}
/* styles for ask question button  */
.ask_blue {
  background-color: var(--primary-button);
  color: white;
  border: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
}

.btn_container p {
  margin-right: 25%;
}
/* highlighted user span  */
.btn_container p span {
  color: #fe8091;
}
/* search input styles  */
.search_container input {
  margin-left: 10%;
  padding: 6px;
  margin-bottom: 10px;
  width: 70%;
}
