/* main container for the home page  */
.home__container__wrap {
  width: 80%;
  margin: 0 auto;
  /* height: 65vmax; */
  margin-bottom: 20px;
}
.home_container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* overflow-y: hidden; */
  /* z-index: 500; */
}
/* container for button and user greeting  */
.btn_container {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
/* link styles in button container  */
.btn_container a {
  padding: 7px;
  margin-left: 10%;
}
/* styles for ask question button  */
.ask_blue {
  background-color: var(--primary-button);
  color: white;
  border: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
}

.btn_container p {
  margin-right: 25%;
}
/* highlighted user span  */
.btn_container p span {
  color: #fe8091;
}
/* search input styles  */
.search_container input {
  margin-left: 10%;
  padding: 12px 20px;
  margin-bottom: 20px;
  width: 70%;
  border: 1.5px solid #ccc;
  outline: none;
  border-radius: 5px;
}

/* user detail container  */
.user_container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 9%;
}
/* user icon styles  */
.user_icon svg {
  display: flex;
  align-items: center;
  font-size: 60px;
  color: #3b455a;
}
/* user icon and name container  */
.user_icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/* padding for user name  */
.user_icon p {
  padding-left: 12px;
}
/* profile container for user and question  */
.profile_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16%;
}
/* chevron icon size  */
.angle_icon svg {
  font-size: 40px;
}
/* style for horizontal lines  */
.horizontal_line {
  margin-right: 12%;
  margin-left: 10%;
}
/* styles for question text  */
.question {
  /* margin-top: 35px; */
  /* padding-right: 40%; */
}

.link {
  text-decoration: none;
  color: #24334b;
}

/* .home__QuestionCard_box {
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  overflow: scroll;
  z-index: 1;
} */

.home__QuestionCard_box::-webkit-scrollbar {
  overflow: hidden;
}

.question {
  width: 60%;

  /* padding-top: 20px; */
  /* text-align: center; */
}
