.menu ul li {
  display: flex;
  float: right;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 20px;
}
.menu_beranch li a {
  text-decoration: none;
  color:#333333;
}
.menu_beranch li a:hover{
  color: #FE8402;
}

.logo {
  float: left;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 250px;
}
.logo img {
  max-width: 200px;
}
button {
  margin-right: 150px;
  background-color: #516cf0;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border: white;
  padding-top: 3px;
  padding-bottom: 3px;
}
@media screen and (max-width: 576px) {
  .logo {
    float: left;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .menu_beranch li a {
    display: none;
  }
  button {
    margin-right: 50px;
  }
}
