/* .login { */
/* height: 100vh; */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* width: 700px; */
/* background-color: #fff; */
/* padding: 20px 10px; */
/* } */

.login__container {
  /* display: flex; */
  /* flex-direction: column; */
  /* border-radius: 10px; */
  /* background-color: #fff; */

  /* margin-top: 60px; */
  /* border: 2px solid lightgray; */
  /* padding: 40px; */
  /* box-shadow: 5px 5px 10px lightgray; */

  padding: 30px;
}

.login__container h3 {
  text-align: center;
  color: #344767;
  margin: 5px 0;
}

.login__container p {
  text-align: center;
  padding-bottom: 4rem;
  cursor: pointer;
  font-size: 14px;
  color: #67748e;
}

.login__container form {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
  /* margin-bottom: 2rem; */
}

.login__container form div {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.login__container a {
  color: var(--primary-color);
  text-align: right;
  text-decoration: none;
}
.login__container a:hover {
  text-decoration: underline;
}

.login__container form input {
  /* margin-bottom: 10px; */
  font-size: 16px;
  color: #67748e;
  padding: 15px;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 4px !important;
  transition: border-bottom 0.3s ease-in-out;
}
.login__container form input:focus {
  outline: none;
  /* outline: 1px solid red; */
  border-bottom: 2px solid var(--primary-color);
}

.password__container {
  position: relative;
  display: flex;
  align-items: center;
}

.password__container input {
  width: 100%;
  padding-right: 30px;
}

.password-toggle-icon {
  position: absolute;
  margin-top: 20px;
  right: 10px;
  cursor: pointer;
  color: #666;
  font-size: 1.2em;
}

.password-toggle-icon:hover {
  color: black;
}
.login__container form input:focus::after {
  width: 100%;
}

.login__container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border: none;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-button);
  color: white;
  border-radius: 4px !important;
}

.login__container button:hover {
  background-color: #3a59ef !important;
}

.forget_pass {
  width: 100%;
  text-align: right;
  margin: 24px 0;
}
